@charset "UTF-8";
/* CSS Document */
body {
	background-image: url("http://i.huffpost.com/gen/2566942/images/o-LIGHTNING-facebook.jpg");
	background-size:100%;
}
/* Calculator Box */
.box {
	/* #FF00A2 */
	background-image: url("https://i.ytimg.com/vi/48ehf7XhR38/hqdefault.jpg");
	background-size:100%;
	height: 300px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top:80px;
	left: 40%;
}
	
/* THIS PLAY */
.display {
	background-color: #007EFF;
	width: 220px;
	position:relative;
	left: 15px;
	top: 20px;
	hieght: 40px;
}
.display input {
	position: relative;
	left: 2px;
	top: 2px;
	height: 30px;
	color:black;
	background-color:#A4E9FF;
	font-size: 21px;
	text-align: right;
}

/* Cowculate er Buttons */
.keys {
		position: relative;
		top: 15px;
}
.button {
	width:40px;
	hieght: 30px;
	border: none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
}
.button.function {
	color:#61C9FF;
	background-color:#005FC7;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}

.button.operator {
	color:#FF8400;
	background-color:#FFFFFF;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}

.button.number {
	color:#FFC100;
	background-color:#AA0002;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}

/* Simulate Button Press */
.function:active {
	border-bottom: 2px #6f6f6f solid;
	border-top: black 2px solid;
}

.operator:active {
	border-bottom: 2px #303030 solid;
	border-top: black 2px solid;
}

.number:active {
	border-bottom: 2px #6f6f6f solid;
	border-top: black 2px solid;
}


